:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --tertiary-text-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bg-color: rgba(47, 48, 58, 1);
  --secondary-bg-color: rgba(255, 255, 255, 1);
  --tertiary-bg-color: rgba(245, 244, 250, 1);
  --primary-link-color: rgb(175, 177, 184, 1);
  --bg-link-color: rgba(255, 255, 255, 0.1);
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
a,
img {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ============HEADER================= */
.header {
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.header .logo {
  margin-right: 92px;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  margin-left: auto;
}
.contact-list {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: rgba(0, 0, 0, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
}

.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo-web,
.current,
.navigation-link:hover,
.navigation-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* ============END HEADER============= */

/* ============HERO================= */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;

  background-color: var(--primary-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-image.jpg);

  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--tertiary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;

  color: var(--tertiary-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
/* ============END HERO============= */

/* ============FEATURES================= */
.features {
  background-color: var(--secondary-bg-color);
}

.features-title.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}

.features-list-item {
  min-width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.list-item-title {
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.list-item-subtitle {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-align: left;
  letter-spacing: 0.03em;
}
/* ============END FEATURES============= */

/* ============SERVICES================= */
.services {
  background-color: var(--secondary-bg-color);
}

.services.section {
  padding-top: 0;
}

.services-title {
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-list {
  display: flex;
  justify-content: space-between;
}
/* ============END SERVICES============= */

/* ============OUR TEAM================= */
.team {
  background-color: var(--tertiary-bg-color);
}

.team-title {
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-text-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.team-list-title {
  text-align: center;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.team-list-subtitle {
  text-align: center;

  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-around;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--primary-link-color);
}

.social-list-icon {
  fill: currentColor;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}

/* ============END OUR TEAM============= */

/* ============ CLIENTS ================ */
.clients {
  background-color: var(--secondary-bg-color);

  text-align: center;
}

.clients-title {
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: space-around;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid var(--primary-link-color);
  border-radius: 4px;

  color: var(--primary-link-color);
}

.clients-list-icon {
  fill: currentColor;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* ============END CLIENTS============== */

/* ============PORTFOLIO================= */
.portfolio {
  background-color: var(--secondary-bg-color);
}

.portfolio-title.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-btn {
  min-width: 74px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: var(--tertiary-bg-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-list-btn:hover,
.filter-list-btn:focus,
.btn-current {
  color: var(--tertiary-bg-color);
  background-color: var(--accent-color);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  background: #ffffff;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-card a {
  display: block;
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: var(--card-shadow);
}

.portfolio-text-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border: 1px solid #eeeeee;
  border-top: none;

  text-align: left;
}

.portfolio-card-title {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card-subtitle {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/* ============END PORTFOLIO============= */

/* ============FOOTER================= */
.footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--tertiary-text-color);
}

.footer-logo {
  display: block;
  margin-bottom: 25px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.white-text {
  color: var(--tertiary-text-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.address-container {
  margin-right: 70px;
}

.social-container {
  width: 206px;
}

.join-text {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--tertiary-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-container .social-list {
  justify-content: space-between;
}

.bg-grey {
  background-color: var(--bg-link-color);
}

/* ============END FOOTER============= */
